$HVSC/MUSICIANS/A/ATOO/Compleeto.sid
$HVSC/MUSICIANS/B/Bappalander/A_Bit_Odd.sid
$HVSC/MUSICIANS/O/Odi/Melt_Your_Brain.sid
$HVSC/MUSICIANS/G/Gray_Lou/Snowball_Sunday.sid
$HVSC/GAMES/S-Z/Task_III.sid
$HVSC/MUSICIANS/E/ELA/Summer_88.sid
$HVSC/MUSICIANS/B/Blackice/Purple_Haze_part_3.sid
$HVSC/MUSICIANS/J/JO/Ultima_1_sex_n_crime_2.sid
$HVSC/MUSICIANS/F/Feekzoid/Journey_part_1.sid
$HVSC/MUSICIANS/G/Gaston/Invitationtune.sid
$HVSC/MUSICIANS/A/Almered_Per/Van_Gogh.sid
$HVSC/MUSICIANS/Z/Zabutom/Everything_is_a_Symptom.sid
$HVSC/MUSICIANS/R/Rokling_Henning/Henning_Rokling_01.sid

$HVSC/MUSICIANS/T/Taxim/Palaestina-Lied.sid
$HVSC/MUSICIANS/K/Kiss_Konrad/Doll.sid
$HVSC/MUSICIANS/K/Kiss_Konrad/Enclose.sid
$HVSC/MUSICIANS/L/Link/Visage.sid
$HVSC/MUSICIANS/Z/Zabutom/Sad_Pillow_Cyber_Prophecy.sid

$HVSC/MUSICIANS/M$HVSC/MUSic_System/Bass_Actor.sid

$HVSC/MUSICIANS/M/Megastyle/Rage/Kalle_Kloakk_part_8.sid

$HVSC/MUSICIANS/T/Tonal_Teapot/Solar_Temple.sid
$HVSC/MUSICIANS/T/Tonal_Teapot/Leipzig.sid

$HVSC/MUSICIANS/D/Devilock/Afterlife.sid

$HVSC/MUSICIANS/T/Tonal_Teapot/Yeah.sid

$HVSC/MUSICIANS/P/Prosonix/Pettersen_Ole-Marius/Hit_II.sid
$HVSC/MUSICIANS/P/Prosonix/Pettersen_Ole-Marius/Vandrerers_Vise.sid
$HVSC/MUSICIANS/P/Prosonix/Pettersen_Ole-Marius/Judge_Dredd_Demo.sid

$HVSC/DEMOS/G-L/In_Your_Dreams.sid
$HVSC/DEMOS/A-F/Basid_Elements.sid

$HVSC/MUSICIANS/B/Becher_Patrick/Error_in_Dur.sid
$HVSC/MUSICIANS/B/Becher_Patrick/Computersound.sid
$HVSC/MUSICIANS/B/Becher_Patrick/Save.sid
$HVSC/MUSICIANS/B/Becher_Patrick/Katzenjammer.sid

$HVSC/MUSICIANS/L/Liket/Goatology_part_2.sid
$HVSC/MUSICIANS/Z/Zardax/Eldorado_part_4.sid

$HVSC/MUSICIANS/G/Gregfeel/In_This_Moment.sid
$HVSC/MUSICIANS/G/Gregfeel/I_Love_You_So.sid
$HVSC/MUSICIANS/G/Gregfeel/Quarks_2.sid

$HVSC/MUSICIANS/J/Johey/Adminstrea_Poop.sid
$HVSC/MUSICIANS/J/Johey/Rotten_Porridge.sid
$HVSC/MUSICIANS/R/Rupert_Dissident/Antropy.sid
$HVSC/MUSICIANS/R/Rupert_Dissident/Will_You_Be_Bright_Enough.sid
$HVSC/MUSICIANS/J/Josstintimberlake/Funk_Beast.sid
$HVSC/MUSICIANS/J/Josstintimberlake/Funk_Castle.sid

$HVSC/MUSICIANS/E/Extern/From_Beyond_main.sid

$HVSC/MUSICIANS/F/Fulcrum/Aurora.sid
$HVSC/MUSICIANS/F/Fulcrum/Dilemma.sid
$HVSC/MUSICIANS/F/Fulcrum/Philosopher.sid

$HVSC/MUSICIANS/C/Carlos_Cascade/Crazy_Chicken_Blues.sid
$HVSC/MUSICIANS/S/Stormont_John/Lobotomy.sid

$HVSC/MUSICIANS/C/Cubehead/Relapse.sid
