
header {
	color: #ffffff;
	background-color: #000080;
	padding-left: 2pt;	
}

header.title {
	font-weight:bold;
	font-size:16pt;
	padding-top: 1pt;
}

header.subtitle {
	font-size:12pt;
	padding-bottom: 1pt;
}

/* List items. Format: item.<type>.<FILENAME> or item.<type>.<flags> */

/*

		tv0.setTextSize(0);
		tv0.setBackgroundColor(0);
		tv0.setBackground(background);
		tv0.setEllipsize(where);
		tv0.setHighlightColor(color);
		tv0.setRotation(0);
		tv0.setSingleLine(false);
		tv0.setTypeface(tf);
		tv0.set
*/

item {
	bgColor: #8888cc;
	
	color : #FFFFFF;
	subColor: #aaccff;
	sideColor: #cccccc;

	textSize: "20dp";
	subtextSize : "12dp";
	sidetextSize : "10dp";
	
}

item.folder {
	color : #ffff00;
	icon : "icons/gflat_folder.png";
}

item.network {
	icon : "icons/gflat_net_folder.png";
}

item.archive {
	color : #ffff80;
	icon : "icons/gflat_package.png";
}

item.media {
	icon : "icons/gflat_mus_folder.png";
}

item.csdb {
	icon : "icons/gflat_bag.png";
}

item.playlist {
	color : #ffff80;
	icon : "icons/gflat_note3.png";
}

item.favorites {
	icon : "icons/gflat_heart.png";
}

item:online {
	color : #ffc0c0;
}

item:hilight {
	color : #ffa000;
}