

root {
	background-color : #000000;	
	text-color : #ffffff;
}

flipper {
	hilight-color : #ffffff;	
	footer-color : #33B5E5;
}

browser-header {
	color: #ffffff;
	background: linear-gradient(top, #2F2757, #1a82f7);
	padding-left: 2dp;	
}

browser-header.title {
	font-weight:bold;
	font-size:"14sp";
}

browser-header.subtitle {
	font-size: "8sp";
}
 
search-header {
	color: #ffffff;
	background: linear-gradient(top, #67272f, #f7271a);
	padding-left: 2dp;	
}

search-header.title {
	font-weight:bold;
	font-size:14sp;
}

search-header.subtitle {
	font-size:8sp;
}

control-separator {
	background-color: #33B5E5;
	height: 2dp;
}
 
controls {
	font : "fonts/led.ttf";
	color : #8080c0;
	font-size : 14dp;
}

controls.seconds {
}

controls.total {
}

controls.subtunes {
}

controls.shuffle {
	color : #80c0c0;
}

controls.repeat {
	color : #80c0c0;
}


controls.plus {
	color : #ff6060;
	font-size: 20dp;
}

controls.forward {
	background : (img/mg_forward.png, img/mg_forward_h.png);
}

controls.back {
	background : (img/mg_back.png, img/mg_back_h.png);
}

controls.play {
	background : (img/mg_forward.png, img/mg_forward_h.png);
}

controls.stop {
	background : (img/mg_stop.png, img/mg_stop_h.png);
}

controls.pause {
	background : (img/mg_pause.png, img/mg_pause_h.png);
}

controls.seekbar {
	progress-background: linear-gradient(left, #404060, #404040);
}


/* PLAYLIST ITEM TEMPLATES */

item {
	color : #ffffff;

	sub-color: #aaaaaa;
	side-color: #ccccff;
	
	font : "bold";
	
	font-size: "24sp";
	sub-font-size : "14sp";
	side-font-size : "10sp";
	
	/*divider: #cccccc; */
	
}

item.folder {
	font-size: "20sp";
	color : #ffff80;
	icon : "icons/gflat_folder.png";
}

item.network {
	font-size: "20sp";
	color : #ffff80;
	icon : "icons/gflat_net_folder.png";
}

item.archive {
	font-size: "20sp";
	color : #ffff80;
	icon : "icons/gflat_package.png";
}

item.media {
	font-size: "20sp";
	color : #ffff80;
	icon : "icons/gflat_mus_folder.png";
}

item.csdb {
	font-size: "20sp";
	color : #ffff80;
icon : "icons/gflat_bag.png";
}

item.playlist {
	icon : "icons/gflat_note3.png";
}

item.favorites {
	icon : "icons/gflat_heart.png";
}

item:online {
	color : #ffc0c0;
}

item:hilight {
	color : #ffff88;
	background: linear-gradient(left, #000000, #888888);
}