<html><head><style type="text/css">
body {
	color: #ffffff; background-color: #4B5A71; margin:8; padding:0;
}

.title {
	color: #ffffff; font-weight:bold; font-size:20pt; text-overflow: ellipsis; overflow: hidden;
	white-space: nowrap; padding: 2pt; height: 1.4em;
	display: block;
	margin-left: auto; margin-right: auto;
}

.playing {
	background-color: black;
	padding: 10pt;
	color: #88aaff;
}

#bitrate {
	color: #ffff88;
	font-size: 16pt;
}
</style>
</head>
<body>
${if name}
<div class="title">${name}</div>
${else}
<div class="title">${source}</div>
${end}

${if title}
NOW PLAYING<br/>
<div class="playing">
<span id="title">${title}</span><br/>
<span id="composer">${composer}</span>
</div>
${end}

BITRATE:<span id="bitrate">${bitrate}</span>

</html></body>